<div class="row">
	<div class="col-xs-3">

		<h2>User info</h2>
		<%= render 'users/profile', user: @book.user %>

		<h2>New book</h2>
		<%= render 'books/newform', book: @book_new %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class="table">
				<tr>
					<td>
						<%= link_to user_path(@book.user) do %>
							<%= attachment_image_tag(@book.user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><br>
							<%= @book.user.name %>
						<% end %>
					</td>
					<td><%= link_to @book.title, book_path(@book) %></td>
					<td><%= @book.body %></td>
		 　　　　　　　<td id="book_<%= @book.id %>">
		            <%= render 'book', book: @book %>
		            </td>
					<td>コメント数：<%= @book.book_comments.count %></td>
				</tr>
		</table>
			<!-- コメント一覧 -->
	    <%= form_with model: [@book , @book_comment] do |form| %>
		  <%= form.text_area :comment, size: "90x5" ,id:"text_area"%>
		  <%= form.submit '送信', class: "btn-sm btn-primary" %>
		<% end %>

		<table id="comments_area" >
		    <%= render 'book_comments/comments_index', book_comments: @book_comments ,book: @book  %>
		</table>

	</div>
</div>

